---
import Layout from "../../layouts/Layout.astro";
import type { RoomCS } from "../../cloudstate/room.ts";
import type { RoomManagerCS } from "../../cloudstate/roomManager";
import { useCloud } from "freestyle-sh";
import InfiniteCraft from "../../components/app.tsx";

// Get the room ID from the URL
let roomId = Astro.params.roomId ?? "";

const roomManager = useCloud<typeof RoomManagerCS>("room-manager");
if (!(await roomManager.roomExists(roomId))) {
  // Visit index page to create a new room
  return Astro.redirect("/");
}

// Continue with fetching the room
const room = useCloud<typeof RoomCS>(roomId);
const roomNouns = await room.getNouns();
---

<Layout title="Multiplayer Infinite Craft - Freestyle Demo">
  <main class="flex justify-center text-white">
    <div class="flex flex-col justify-between items-center w-screen h-screen">
      <div class="flex flex-col items-center">
        <h1 class="text-xl font-semibold mx-6 mt-8 text-center text-white">
          Multiplayer Infinite Craft - <a
            href="https://freestyle.sh"
            class="underline">Freestyle</a
          > Demo
        </h1>
        <div class="flex">
          <InfiniteCraft client:load roomId={roomId} nouns={roomNouns} />
        </div>
      </div>
      <p class="text-sm text-gray-500 my-4">
        Inspired by the <a
          href="https://neal.fun/infinite-craft/"
          class="underline">original game</a
        > created by Neal Agarwal.
      </p>
    </div>
  </main>
</Layout>

<style>
  body {
    @apply bg-slate-900;
  }
</style>
