---
import HomePage from "../components/homePage";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Freestyle - Infinite Craft">
  <main>
    <div>
      <h1 class="mx-6 text-center">Infinite Craft - built with Freestyle</h1>
      <HomePage client:load />
    </div>
  </main>
</Layout>
