---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
// import { TheTodoList } from "../cloudstate/todo-list";
import { InfiniteCraftState } from "../cloudstate/infinite-craft.ts";
import { useCloud } from "freestyle-sh";

import InfiniteCraft from "../components/react/infinite-craft";

const icState = useCloud<typeof InfiniteCraftState>("infinite-craft");
const words = await icState.getWords();
---

<Layout title="Freestyle Infinite Craft">
  <main>
    <div>
      <h1 class="mx-6 text-center">Infinite Craft - built with Freestyle</h1>
      <InfiniteCraft client:load words={words} />
    </div>
  </main>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 44);
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    margin-top: 2rem;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
</style>
